use: broker_container

broker_container:
  config:
    advertised.address: 127.0.0.1

  testing_config:
    spec: 1
    # Optional. If no base_port, all ports will be random.
    #
    #base_port: ${base_port}
    image: ${image}
    container_remove: true
    container_logs: true
    container_logs_clean: true
    command:
      # --experimental cpp
      ${server_exe}
        --bind-address 0.0.0.0
        --metrics-port 0
        --log-level debug
        --log-with-color
        --log-flush-immediately
        --store-log-level error
        --store-compression lz4
        %s
    init_mode: "boot"   # Oneof ["boot", "join"], default is "boot"
    metastore_port: ${metastore_port}
    store_dir: ${store_dir}
    store_admin_port: ${store_admin_port}

# Uncomment the following and set `use: broker_connections`
# to enable broker_connections
#
#broker_connections:
#  - broker.id: 1
#    port: 9092
#    gossip.port: 9093
#    advertised.address: 127.0.0.1

# vim: set ft=yaml:
